@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

li {
    color: rgb(7, 7, 79);
    font-size: medium;
    line-height: 2;
    letter-spacing: 0.03em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}